.sections {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.socialSites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
.socialSites p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.socialIcons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.pinkLogo {
  width: 100px;
  height: 100px;
}

.my-svg {
  cursor: pointer;
  width: 16px;
  height: 16px;
  fill: #999;
}
.my-svg:hover {
  fill: black;
}

.designers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.designers p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
