.header {
  display: flex;
  justify-content: space-between;
}
.logoImage {
  width: 76px;
  height: 30px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.left {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  flex-direction: row;
}

.navbarGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.list {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 550;
  font-size: 14px;
}

.listItem {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.listItem:hover {
  color: grey;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.login {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 550;
  font-size: 14px;
}

.login:hover {
  color: grey;
}

.signup {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 550;
  font-size: 14px;
  color: white;
  margin-right: 20px;
}
